/*!
 * Main styles
 *
 * @package CNISC
 */

@import "nib"
@import "normalize"
@import "grid"
@import "font-icons"
@import "utilities"

vendor-prefixes = webkit o ms moz official

/* 
 * ------------------------------
 * General
 * ------------------------------
 */

*,
*:before,
*:after
	box-sizing border-box

html
	font 100%/1.5 "Helvetica", Arial
	font-weight normal
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased

	@media (min-width: 40em)
		font-size 112%
	@media (min-width: 64em)
		font-size 120%

body
	background-color #fff
	color gray

a
	text-decoration none
	color red
	transition all 200ms
	&:hover
		color dark-red

input
textarea
	width 100%
	height auto
	border 2px solid lighten-gray
	color #898989
	padding-left .8rem
	transition border-color 200ms ease-out
	font-size 0.875rem // 14px
	&:focus
		outline none
		border-color darken(lighten-gray, 10%)

input
	height 45px

textarea
	height 10rem
	padding .8rem
	resize vertical

label
	font-weight bold

img
	max-width 100%
	height auto
	vertical-align middle

table
	width 100%
	tr
		border-bottom 1px solid light-gray
		&:hover
			background-color #f1f1f1

