/*!
 * Main styles
 *
 * @package CNISC
 */

@import "nib"
@import "normalize"
@import "grid"
@import "font-icons"
@import "utilities"

vendor-prefixes = webkit o ms moz official

/* 
 * ------------------------------
 * General
 * ------------------------------
 */

*,
*:before,
*:after
	box-sizing border-box

html
	font 100%/1.5 "Open Sans", Arial
	font-weight 400
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased

	@media (min-width: 40em)
		font-size 112%
	@media (min-width: 64em)
		font-size 120%

body
	background-color #fff
	color gray

a
	text-decoration none
	color primary
	transition all 200ms
	&:hover
		color darken(primary, 10%)

input
textarea
	width 100%
	height auto
	border 2px solid lighten-gray
	color #898989
	padding-left .8rem
	transition border-color 300ms ease-out
	font-size 0.875rem // 14px
	&:focus
		outline none
		border-color darken(lighten-gray, 20%)

input
	height 45px

textarea
	height 10rem
	padding .8rem
	resize vertical

label
	font-weight bold

img
	max-width 100%
	height auto
	vertical-align middle

table
	width 100%
	tr
		border-bottom 1px solid light-gray
		&:hover
			background-color #f1f1f1

// Login Form
// ----------------------------------

// Alineación vertical del login
.full-vp
	height 100vh
	min-height 600px
	display flex
	flex-flow row wrap
	align-items center
	justify-content center
	
	&.gradient
		background radial-gradient(#fff, #ddd)
	
	>.container
		padding 2rem 0

// Estilos propios
.small-block
	max-width 30rem
	margin-left auto
	margin-right auto

.main-login-form
	input
		font-size 1.1rem
		font-weight normal
		height 55px

.input-icon
	position relative
	[class^="icon-"]
		absolute top 50% left 25px
		margin-top -13px
		color light-gray
	input
		padding-left 40px


// Generales¿?
// ----------------------------------
#content
.entry-content
	-webkit-hyphens auto
	-moz-hyphens    auto
	-ms-hyphens     auto
	hyphens         auto
	word-wrap break-word

#content
	padding-bottom 1.3rem
	
// Navegacion
// ----------------------------------------------------------------------------
header-w = 55px
header-border = 5px
.main-header
	border-bottom header-border solid darken(primary, 20%)
	background-color primary
	color #fff
	height (header-border + header-w)
	display flex // center vertically
	
	a
		color #fff
		
	.fluid-grid
		justify-content space-between
		align-items center

.main-navigation
	collapse = 57.38em

	.menu-item
		// Forza a FF a no duplicar el line-height por haber
		// dos elementos dentro de .menu-item a
		max-height (header-border + header-w)
		
		a
		button
			display block
			line-height header-w
			padding 0 .5rem
		&:hover
			background-color darken(primary, 10%)

		@media (max-width: collapse)
			[class^="icon-"]
				vertical-align middle
				font-size 1.8rem

	@media (max-width: collapse)
		.text-hide-m
			display none


// Usuario
// ----------------------------------
#opciones
	absolute top 0 right 0
	width 70%
	max-width 24em
	height 100%
	background-color rgba(#000,.8)
	color #fff
	padding 1rem 2rem
	z-index 5
	transition all 250ms ease-in-out
	.list:last-of-type
		li:first-child
			padding-right 1rem
	.secondary-title
		margin-bottom .5rem
	.close
		absolute top 1rem right 1rem
		font-size 14px
	// Predefiniendo clase ng hide para acelerar
	// el ocultamiento de elementos y no esperar
	// que Angular inyecte su css
	&.ng-hide
		display none !important
	&.ng-hide-remove
		animation 150ms slideIn linear
	&.ng-hide-add
		animation 150ms slideOut linear
		
	.logout
		margin-top 60px
		
@keyframes slideIn
	0%
		opacity 0
		transform translateX(70%)
	100%
		opacity 1
		transform translateX(0)
		
@keyframes slideOut
	0%
		opacity 1
		transform translateX(0)
	100%
		opacity 0
		transform translateX(70%)

.logo-user
	img
		border-radius 50%
		width: 45px;
	.name
		padding 0 .5rem
		margin 0
	figcaption
		@media (max-width: 34.25em)
			screen-reader-text()


// Mensajes
// ----------------------------------------------------------------------------
.user-messages #content
	padding-bottom 0
	
#messages
	bp = 740px
	fluid-grid(bp)

	@media (min-width: bp)
		.messages-list
			width 33.33%
			max-width 420px
		.message-content
			width 66.66%
			flex auto
	

.messages-list
	border-right 2px solid lighten-gray
	display flex
	flex-direction column
	
	.list-header
	.load-more
		background-color lighten-gray

	.list-header
		padding .5rem 1rem
		font-size 1rem
	
	.load-more-container
		display flex
		flex-direction column-reverse
		flex 1 0 auto
		
	.load-more
		padding .6rem 1rem
		font-weight 700
		// text-align left
		width 100%
		position relative
		&:hover
			background-color lighten(lighten-gray, 15%)
		

.message-list
	.message
		&.active
			color #fff
			background-color primary
			.title
				color #fff
		
		&.seen
			.title
				font-weight 400	
	.excerpt
		margin-top 5px
		
.message-content
	position relative
	padding 10px 1.5rem 1rem
	.title
		margin-bottom 0
	.meta
		color light-gray
		margin-top 0
		
	.nomessage
		absolute left 0 right 0
		top 0
		bottom 0
		display flex
		flex-flow row wrap
		justify-content center
		align-items center
		color lighten-gray
		
		.iscbw
			&:before
				width 149px
				margin-left auto
				margin-right auto
				height 141px
				content ""
				background url(../../img/logo-bw.jpg) 0 0 no-repeat
				display block
				margin-bottom 10px
			

// Fijar altura al mismo de la ventana
.message-content
.messages-list
	height calc( 100vh - 60px ) // Tamaño del viewport - (tamaño navbar + border-bottom)
	overflow-y scroll
	
// fix para contener los nuevos elementos al cargar más mensajes
.messages-list .wrapper
	overflow auto


// Usuario: Preferencias
// ----------------------------------------------------------------------------
@keyframes fade-up-in
	from
		opacity 0
		transform translate3d(0,-60px,0)
	to
		opacity 1
		transform translate3d(0,0,0)
        
.user-img__options
	display flex
	flex-flow column wrap
	align-items center
	
	.user-img-holder
		position relative
		margin-bottom 1rem
		
	.user-del-form
		absolute top 0 bottom 0
		left 0
		right 0
		display flex
		flex-flow row nowrap
		align-items center
		justify-content center
		transition background-color 250ms ease-in-out
		
		&:hover
			background-color rgba(#fff, .3)
			.remove.button
				display block
				animation-duration 300ms
				animation-fill-mode both
				animation-name fade-up-in
				
	.remove.button
		display none
		background-color rgba(#000, .9)
		color #fff
		padding 1rem
		
	.text-big
		font-weight 700
	.gray-text
		color light-gray
		

// ADMIN
// ----------------------------------------------------------------------------
.administrator
	#content
		margin 1rem auto
		padding-bottom 1.5rem

.user-list
	margin-top 1.8rem
	padding 0 10px
	.user-list__thumb img
		width 72px
		height 72px
		border-radius 50%
		margin-right 1rem
	p
		margin 0
		
// Creación de usuarios
.form-field.password
	display none
	
// Carga de usuarios
	
#result 
	padding: 10px
	border: 2px solid #b8b4b4
	margin: 20px 5px
	-webkit-border-radius: 8px
	border-radius: 5px
	background-color: #f8f8ff
	max-height: 227px
	overflow-y: scroll
	font-size: 13px

.color_error
	color red
	

// Creación de mensajes
circle(radius, bg)
	width radius
	height radius
	border-radius 50%
	background-color bg	

.create-message
	.to
		position relative
		
	.spinner
	.spinner:after
		r = 25px
		circle(r, primary)
		animation-name circle-expand
		animation-duration 550ms
		animation-iteration-count infinite
		animation-fill-mode both

	.spinner
		absolute right 10px top 50%
		
		&:after
			content ""
			display block
			background-color white
			
	.selected-users-list
		padding 10px
		font-size 14px
		margin-top -20px
		background #F5F5F5
		
		.selected-user
			background-color lighten-gray
			border-radius 15px
			padding 5px 5px 5px 10px
			margin-right 5px
			margin-bottom 5px
		
		button
			font-size 12px
			
		&.ng-hide
			display none !important
			padding 0
		
	
.autocomplete.list
	absolute left 0 right 0
	top 100%
	opacity .95
	z-index 1
	padding 0
	border 1px solid light-gray
	border-top 0
	background-color white
	box-shadow 0 2px 6px light-gray
	
	&.ng-hide
		display none !important
	
	.list-item
		padding 13px 20px 13px 41px
		cursor pointer
		justify-content space-between
		font-size 16px
		position relative
		
		&:not(:last-child)
			border-bottom 1px solid lighten-gray
		&:hover
			background-color rgba(primary, .9)
			color white
		span
			display block
			width 33.33%
			text-align left
			
		&.selected:after
			content '\e61f'
			font-family 'cnisc'
			font-weight normal
			absolute left 10px top 15px
			color green
			circle(20px, white)
			font-size 12px
			display block
			text-align center
			line-height 20px
			
.bar-list 
	list-style: None

.uploader-render
	background-color white
	position relative
	width 210px
	height 45px
	overflow hidden
	#id_data
		cursor pointer
		opacity 0
	.button
		color primary
		absolute top 0 bottom 0
		left 0
		right 0
		display block
		line-height 35px
	&:hover
		background-color primary
		.button
			color white


.uploader
	.selected-file
		background-color lighten-gray
		font-weight 700	
		padding 5px 45px 5px 10px
		position relative
		.remove
			font-size 11px
			cursor pointer
			absolute right 9px top 13px
	

// MODAL
// ----------------------------------------------------------------------------
.modal
	fixed top 0 bottom 0
	left 0
	right 0
	background-color rgba(white, .9)
	display flex
	align-items center
	justify-content center
	&.ng-hide
		display none
	.wrapper
		background-color white
		padding 10px 40px
		border 1px solid lighten-gray
		width 90%
		max-width 1000px
		position relative
		min-width 600px
	h1
		margin 5px 0 15px
	.opaque
		color light-gray
		font-size 16px
		margin-bottom 5px
	.modal__content
		max-height 50vh
		overflow scroll
	.modal__footer
		padding-top 30px
		margin-bottom 10px
		position relative
		&:before
			content ""
			absolute left 0 right 0
			top -50px
			height 70px
			background-image linear-gradient(bottom, white 20%, transparent)
			
// COLLAPSABLE
// ----------------------------------------------------------------------------
.collapsable
	background-color light-blue
	padding 0 20px 10px
	margin-bottom 30px
	.collapsable__header
		margin 0
		cursor pointer
		h1
			margin 0
			padding-top 10px
			font-size 1.5em
		i
			font-size 24px
	.collapsable__content
		padding-top 25px
		&.ng-hide
			display none
