/* 
 * ------------------------------
 * Mixins'n'Vars
 * ------------------------------
 */

red         = #e53424
dark-red    = #981509
gray        = #646464
dark-gray   = #323232
lighten-gray= #e2e2e2
light-gray  = #aeaeae
marine      = #0aa1b0
dark-marine = #07717b
light-blue  = #f1f5f6
blue        = #3498db
green       = #00B233
light-green = #00FF48

primary = blue

.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

screen-reader-text()
  clip rect(1px, 1px, 1px, 1px)
  position absolute
  &:focus
    clip auto
    display block
    height auto
    line-height normal
    position absolute
    left 5px
    top 5px
    text-decoration none
    text-transform none
    width auto
    z-index 100000

.screen-reader-text
    screen-reader-text()

.vertical-align
    width 100%
    display table
    > div
        display table-cell
        vertical-align middle

.block-center
    margin 0 auto
    
.flat
    margin 0

/*
 * Buttons
 */

button-color(color, bg = gray)
    color color
    background-color bg
    transition background-color .3s ease-out
    &:focus
    &:hover
        background-color darken(bg, 10%)

.button
    padding 0.5rem 1.5rem
    &.gray
        button-color(#fff, gray)
    &.green
        button-color(#fff, green)
    &.blue
        button-color(#fff, primary)
    &.twitter
        button-color(#fff, #55ACEE)
        
    &.block
        display block
        margin 8px auto
        width 100%
        max-width 30em
        
    // Ghost buttons
    // renderizan como enlace normal, pero en hover
    // se ve como boton
    &.ghost
        padding 5px 15px
        text-transform uppercase
        font-size 15px
        &:hover
            background-color primary
            color #fff
        

input[type="submit"]
button
    border none
    
button.flat
    outline none
    background-color transparent
    border none
    font-weight 400

button[disabled]
    opacity 0.8
    cursor not-allowed
       
/*
 * Lists, menus
 */

.list
	margin 0
	list-style-type none


.hoverable
    li:hover
        background-color #f5f5f5

.inline-list
	li
		display inline-block

.inline
    display inline-block

.pull-left
    float left

.pull-right
	float right
   
.bar-list
    margin 0
    
    li
        border-bottom 1px solid lighten-gray
        
    .bar-list__item
        color light-gray
        display block
        padding .6rem 2.1rem .6rem 1rem
        position relative
        
        &:after
            font-family 'cnisc'
            speak none
            content '\e62e'
            absolute right 1rem top 50%
            font-size 20px
            margin-top -10px        
        
        .title
            color gray
            margin 0
        
    .small
        font-size 15px 

/*
 * Text
 */

.left-text
	text-align left

.right-text
	text-align right

.center-text
	text-align center

.text-big
    font-size 1.7rem

.main-title
    text-transform uppercase
    
.title
    &.border-bottom
        padding-bottom 10px
        border-bottom 1px solid light-gray
        margin-bottom 2rem

/*
 * Responsive Utilities
 */

.inline-list-desktop
	display none

	li
		display inline-block
	
	@media (min-width: 50em)
		display inline-block

.text-center-s
	@media (max-width: 50em )
		text-align center

.text-center-xs
	@media (max-width: 40em )
		text-align center
  
 /*
 * UI Components
 */
.alert
    background-color #FDFBCD
    color #9B7106
    margin 1rem 0
    padding 1rem 1rem 1rem 1.5rem
    position relative
    transition opacity 250ms ease-out
    
    button.close
        absolute top 10px right 10px
        display block
        font-size 14px
            
    &.ng-hide
        opacity 0
        
    // Alert types
    &.error
        background-color red
        color #fff
    &.success
        background-color green
        color #fff
    &.error
    &.success
        a
            color #fff
            text-decoration underline
        
        


// FORMULARIOS
// ----------------------------------------------------------------------------

 /*
 * Form Layouts
 */
.vform
    display flex
    flex-flow column wrap
    justify-content space-between
    .form-field
        margin-bottom 1rem
        align-items center
        
    .distribute
        justify-content space-between
        
@media (min-width: 31.25em)
    .form-field .push-right
        width 78%
    .form-field > label
        width 22%
            
// Forma un input con un elemento en una sola linea
.input-inline-icon
    position relative
    input
        padding-right 36px
    .right
        absolute right 10px
        top 50%
        font-size 15px
        margin-top -8px
        
// Validaciones de Angular
input
    &.ng-touched.ng-invalid
        border-color #E75245

.validate
    .red
        color red
        
// Utilidades para header
// ---------------------------------------------------

// Inline header
// Crea elementos inline especial para headers
// Requiere de .fluid-grid y .fluid-grid.static
.inline-header
    align-items center
    justify-content space-between
    margin 2rem 0 1.5rem
    > h1
        margin 0
        
// Renderiza selects de mejor Forma
// Style the select box
.select-render
    position relative
    overflow hidden
    border 1px solid light-gray
    width 100%
    select
        width 100%
        padding 8px
        margin 0
        border-radius 0
        background transparent
        color dark-gray
        border 0
        outline none
        display inline-block
        appearance none
        cursor pointer
    option
        color lighten-gray !important
        font-size 1rem !important
    &:after
        absolute right 7px top 50%
        content ' '
        pointer-events none
        width 14px
        height 8px
        margin-top -4px
        background-repeat no-repeat
        background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAMAAAD+zz7+AAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAx/rmkw8Iv66qe3NgWEZAA3QM9SMAAAA5SURBVAjXTcfFAcAwDATBkykxW/03a4Z97UDyk0QWVyIB8TKg5bccRmpKYWW7/rJpPmYyOGkiPaYCPLUEE/PKivAAAAAASUVORK5CYII=")
    // Hide the dropdown of FF and IE
    &:before
        absolute right 0 top 0
        bottom 0
        width 30px
        content ' '
        display block
        background-color light-gray
        pointer-events none
        
// Muestra de mejor forma un checkbox
// Markup Requerido.
// 
// <input id="check" type="checkbox" class="checkbox-render__fire">
// <label for="check" id="checkbox-render" class="icon-checkmark"></label> 
//
// El span es quién 'muestra' un nuevo checkbox

#checkbox-render
    width 30px
    height 30px
    border 2px solid lighten-gray
    padding 4px
    color transparent
    background-color transparent
    cursor pointer
    
.checkbox-render__fire
    display none
    
    &:checked + #checkbox-render
        color #fff
        background-color green
        border-color green