{% extends "base.html" %}

{% block title %}Recuperar Contraseña | Centro de Notificaciones ISC - UTP{% endblock %}

{% block bodyattrs %}class="full-vp gradient"{% endblock %}

{% block body %} 

  <header class="login-header center-text">
    <a href="/" title="Ir al inicio">
      <img src="{{STATIC_URL}}img/logo-isc.png" alt="Logotipo programa Ingeniería en Sistemas y Computación (ISC) - UTP">
    </a>
    <h1 class="main-title">
      Recuperar Contraseña
    </h1>
    <p>Por favor ingrese su email a continuación.</p>
  </header>
  {% if mensaje %}
    <div class="alert container medium">
      <p>{{mensaje}}</p>
    </div>
  {% endif %}

  <form name="login" method="post" action="{%url 'recuperar_pass' %}" class="main-login-form form-validate">

    {% csrf_token %}
    <fieldset class="input-icon">
      <input name="email" type="text" minlength="4" placeholder="Email" autofocus>
      <span class="icon-mail"></span>
    </fieldset>
    <fieldset>
      <input class="button green" type="submit" value="Enviar" />
    </fieldset>

  </form>

{% endblock %}

{% block js %}

{% endblock %}
