
{% extends "base.html" %}

{% block title %}Recuperar contraseña | Centro de Notificaciones ISC - UTP{% endblock %}

{% block bodyattrs %}class="full-vp"{% endblock %}

{% block body %} 

  <header class="login-header center-text small-block">
    <a href="/" title="Ir al inicio">
      <img src="{{STATIC_URL}}img/logo-isc.png" alt="Logotipo programa Ingeniería en Sistemas y Computación (ISC) - UTP">
    </a>
    <h1 class="main-title">
      Crear una nueva Contraseña
    </h1>
  </header>

  <form  method="post" action="{%url 'verificar_keys' key %}" class="main-login-form form-validate small-block">
    {% csrf_token %}
    <input name="key" type="hidden" value="{{key}}">

    <fieldset class="input-icon">
      <input name="password1" type="password" minlength="4" placeholder="Nueva contraseña" autofocus>
      <span class="icon-lock"></span>
    </fieldset>
    <fieldset class="input-icon">
      <input name="password2" type="password" minlength="4" placeholder="Repetir nueva contraseña">
      <span class="icon-lock"></span>
    </fieldset>
    <fieldset>
      <input class="button green" type="submit" value="Enviar" />
    </fieldset>
  </form>

{% endblock %}

{% block js %}

{% endblock %}

