{% load static from staticfiles %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/min/main.min.css" %}" rel="stylesheet">

    {% block style %}
    {% endblock %}
</head>
<body {% block bodyAttrs %}{% endblock %}>
    <header class="main-header">
        <div class="container fluid-grid static">
            <figure class="logo-user">
                {% if request.path == "/" %}
                    <a href="{% url 'preferences' %}" title="Ir a Preferencias">
                        <img src="{{ request.user.userext.profile_image_url }}" alt="Foto de {{ob_user.get_full_name}}" />
                        <figcaption class="inline">
                            <h3 class="name">{{ob_user.get_full_name}}</h3>
                        </figcaption>
                    </a>
                {% else %}
                    <a href="{% url 'home' %}" class="Ir a mensajes">
                        <i class="icon-arrow-left"></i>
                        <span class="">Volver a mensajes</span>
                    </a>
                {% endif %}
                {% if messages_not_seen > 0 %}
                    <abbr title="{{messages_not_seen}} Mensajes sin leer" class="messages__not-seen">
                        {[{unreadMessages}]}
                    </abbr>
                {% endif %}
            </figure>
            <nav role="navigation" class="main-navigation">
                <ul class="list fluid-grid static">

                    {% if request.path == "/" %}
                        <li class="menu-item"  ng-show="showSearchForm">
                            <input type="text" ng-model="buscar">
                        </li>
                        <li class="menu-item">
                            <button class="flat search-messages" title="Buscar mensajes" ng-click="showSearchForm=!showSearchForm">
                                <i class="icon-search"> </i>
                                <span class="text-hide-m">Buscar</span>
                            </button>
                        </li>
                        <li class="menu-item" ng-hide="showSearchForm">
                            <button ng-click="showMenu=!showMenu" class="flat options" title="Ver Opciones">
                                <i class="icon-menu"> </i>
                                <span class="text-hide-m">Opciones</span>
                            </button>
                        </li>
                        <li class="menu-item" ng-hide="showSearchForm">
                            <a href="{% url 'preferences' %}" class="preferences" title="Ir a Preferencias">
                                <i class="icon-cog"> </i>
                                <span class="text-hide-m">Preferencias</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div id="opciones" ng-show="showMenu" class="ng-hide">
        <h2 class="title-option center-text main-title">Opciones</h2>
        <ul class="list bordered">
            <li><button class="flat" ng-click="markAll()"><i class="icon-checkmark"> </i>Marcar todo como leído</button></li>
        </ul>
        <h3 class="secondary-title">Presentación</h3>
        <ul class="list inline-list">
            <li>
                <button class="flat" ng-click="toggleMessageExcerpt(false)"><i class="icon-list2"> </i>Ver sólo titulos</button>
            </li>
            <li>
                <button class="flat" ng-click="toggleMessageExcerpt(true)"><i class="icon-menu"> </i>Ver resumen</button>
            </li>
        </ul>
        <footer class="logout bordered">
            <a href="logout" class="button ghost white"><i class="icon-exit"> </i>Salir</a>
        </footer>
        <button ng-click="showMenu=!showMenu" class="flat close"><span class="icon-close"> </span><span class="screen-reader-text">Cerrar menú</span></button>
    </div>

    <div id="content">
        {% block body %}
        {% endblock %}
    </div>


    <script src="{% static "js/lib/angular/angular.min.js" %}"></script>
    <script src="{% static "js/lib/angular-resource/angular-resource.min.js" %}"></script>
    <script src="{% static "js/lib/angular-cookies/angular-cookies.min.js" %}"></script>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Open+Sans:400italic,700italic,400,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    {% block js %}
    {% endblock %}

</body>
</html>
