{% load static from staticfiles %}
{% load wysiwyg %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/min/main.min.css" %}" rel="stylesheet">
    {% wysiwyg_setup  %}
    
    {% block style %}
    {% endblock %}
</head>
<body class="administrator" {% block bodyAttrs %}{% endblock %}>

    <header class="main-header">
       <div class="container fluid-grid static">
            <figure class="logo-user">
                <a href="{% url 'home' %}" title="Ir al inicio">
                    <img src="{{STATIC_URL}}img/logo-isc__small.png" />
                    <figcaption class="inline">
                        <h3 class="name">Administración CNISC-ISC</h3>
                    </figcaption>
                </a>
            </figure>
            <nav role="navigation" class="main-navigation">
                <ul class="list fluid-grid static">

                    <li class="menu-item">
                        <a href="{% url 'home' %}" title="Ir a Mensajes">
                            <i class="icon-paperplane"> </i>
                            <span class="text-hide-m">Mensajes</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'panelUseradmin' %}" title="Todos los Usuarios">
                            <i class="icon-user"> </i>
                            <span class="text-hide-m">Usuarios</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'preferences' %}" title="Preferencias">
                            <i class="icon-cog"> </i>
                            <span class="text-hide-m">Preferencias</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>

    <div id="content" class="container medium" role="main">

        {% block body %}
        {% endblock %}

    </div>
    
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Open+Sans:400italic,700italic,400,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    {% block js %}
    {% endblock %}

</body>
</html>
