{% load static from staticfiles %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/min/main.min.css" %}" rel="stylesheet">

    {% block style %}
    {% endblock %}
</head>
<body {% block bodyAttrs %}{% endblock %}>
    <header class="main-header">
        <div class="container fluid-grid static">
            <figure class="logo-user">
                {% if request.path == "/" %}
                    <a href="{% url 'preferences' %}" title="Ir a Preferencias">
                        <img src="{{ request.user.userext.profile_image_url }}" alt="Foto de {{ob_user.get_full_name}}" />
                        <figcaption class="inline">
                            <h3 class="name">{{ob_user.get_full_name}}</h3>
                        </figcaption>
                    </a>
                {% else %}
                    <a href="{% url 'home' %}" class="Ir a mensajes">
                        <i class="icon-arrow-left">
                            <span class="">Volver a mensajes</span>
                        </i>
                    </a>
                {% endif %}
            </figure>
            <nav role="navigation" class="main-navigation">
                <ul class="list fluid-grid static">

                    {% if request.path == "/" %}
                        <li class="menu-item"  ng-show="showSearchForm">
                            <input type="text" ng-model="buscar">
                        </li>
                        <li class="menu-item">
                            <a href="#buscar" class="search-messages" title="Buscar mensajes" ng-click="showSearchForm=!showSearchForm">
                                <i class="icon-search"> </i>
                                <span class="text-hide-m">Buscar</span>
                            </a>
                        </li>
                        <li class="menu-item" ng-hide="showSearchForm">
                            <a href="#opciones" ng-click="showMenu=!showMenu" class="options" title="Ver Opciones">
                                <i class="icon-menu"> </i>
                                <span class="text-hide-m">Visualización</span>
                            </a>
                        </li>
                        <li class="menu-item" ng-hide="showSearchForm">
                            <a href="{% url 'preferences' %}" class="preferences" title="Ir a Preferencias">
                                <i class="icon-cog"> </i>
                                <span class="text-hide-m">Preferencias</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    <div id="opciones" ng-show="showMenu" class="ng-hide">
        <h2 class="title-option center-text main-title">Opciones</h2>
        <ul class="list">
            <li><button class="flat" ng-click="markAll()"><i class="icon-checkmark"> </i>Marcar todo como leído</button></li>
        </ul>
        <h3 class="secondary-title">Presentación</h3>
        <ul class="list inline-list">
            <li>
                <button class="flat" ng-click="toggleMessageExcerpt(false)"><i class="icon-list2"> </i>Ver sólo titulos</button>
            </li>
            <li>
                <button class="flat" ng-click="toggleMessageExcerpt(true)"><i class="icon-menu"> </i>Ver resumen</button>
            </li>
        </ul>
        <button ng-click="showMenu=!showMenu" class="flat close"><span class="icon-close"> </span><span class="screen-reader-text">Cerrar menú</span></button>
    </div>

    <div id="content">
        {% block body %}
        {% endblock %}
    </div>

    <script src="{% static "js/lib/angular/angular.min.js" %}"></script>
    <script src="{% static "js/lib/angular-animate/angular-animate.min.js" %}"></script>
    <script src="{% static "js/lib/angular-resource/angular-resource.min.js" %}"></script>
    <script src="{% static "js/lib/angular-cookies/angular-cookies.min.js" %}"></script>
    <script src="{% static "js/lib/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "js/app/user/user.main.js" %}"></script>
    <script src="{% static "js/app/messaging/messaging.main.js" %}"></script>
    <script src="{% static "js/app/share/share.directives.js" %}"></script>
    <script src="{% static "js/app/messaging/messaging.directives.js" %}"></script>
    <script src="{% static "js/app/api/api.services.js" %}"></script>
    {% block js %}
    {% endblock %}

</body>
</html>
