{% extends "base_admin.html" %}
{% block title %}0
 Carga Masiva de Usuario
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<div>
	<h1>Agregar usuario(s)</h1>
	<p>
		Puede agregar usuarios simultániamente importando desde un archivo CSV de Excel. <br>
		Presione el Siguiente botón para hacerlo.	
	</p>
	<form id="from_cm" action="{%url 'panelCargaMasiva' %} " enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		{{xls_form }}
		<input type="submit"> 

	</form>
	
	{% if retorno %}
		<div id="result">
	 		{% if retorno.json_error.error %}
		 		<ul>
		 		{% for item_error in retorno.json_error.data %}
		 		<li> <span class="color_error"> [Error]</span>  {{ item_error.msj }} en la fila {{ item_error.fila }} columna {{item_error.columna}} </li>
		 		{% endfor %}
		 		</ul>
	 		{% else %}
	 			Datos Cargados Satisfactoriamente
	 			<br>
	 			# de usuarios actualizados : {{retorno.logs.u_cam}}
	 			<br>
	 			# de usuarios nuevos : {{retorno.logs.u_new}}
	 		{% endif %}
	 	{% else %}
	 	</div>
	 {% endif %}
</div>



{% endblock %}

{% block js %}


{% endblock %}
