{% extends "base.html" %}
{% block title %}
  Centro de Notificaciones ISC - UTP
{% endblock %}

{% block bodyattrs %}class="login-page"{% endblock %}

{% block body %} 

  <header class="login-header center-text">
    <img src="{{STATIC_URL}}img/logo-isc.png" alt="Logotipo programa Ingeniería en Sistemas y Computación (ISC) - UTP">
    <h1 class="main-title">
      Centro de Notificaciones ISC - UTPereira
    </h1>
  </header>

  <form name="login" method="post" action="/login/" class="main-login-form form-validate">
    {% csrf_token %}
    <fieldset class="input-icon">
      <input name="username" type="text" autofocus placeholder="Código">
      <span class="icon-user"><i class="screen-reader-text">Código</i></span>
    </fieldset>
    <fieldset class="input-icon">
      <input name="password" type="password" minlength="4" placeholder="Contraseña">
      <span class="icon-lock"><i class="screen-reader-text">Contraseña</i></span>
    </fieldset>
    <fieldset>
      <input class="button green" type="submit" value="Ingresar" />
    </fieldset>
    <fieldset>
      <a href="{%url 'recuperar_pass' %}" > Olvide mi contraseña </a>
    </fieldset>
  </form>

{% endblock %}

{% block js %}
  <script src="{{STATIC_URL}}js/login-extra.js"></script>
{% endblock %}
