{% extends "base_admin.html" %}
{% load wysiwyg %}
{% block title %}
 
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}  
<section class="quick-message">
	<h1 class="">Mensaje Rápido</h1>
	<form method="POST" action="" class="vform">
		<div class="form-field fluid-grid static">
			<label for="message__subject">Asunto</label>
			<input id="message__subject" type="text" autofocus/>
		</div>
		<div class="form-field fluid-grid static">
			<label for="message__to">Para</label>
			<input id="message__to" type="text"/>
		</div>
		<div class="form-field">
		 	<p><label for="message">Mensaje</label></p>
			<textarea id="message"></textarea>
	    	{% wysiwyg_editor "message" %}   
		</div>
		<p class="center-text">
			<button type="submit" class="flat button green">Previsualizar y enviar...</button>
		</p>
	</form>
</section>

<section class=""></section>


{% endblock %}

{% block js %}{% endblock %}