  {% extends "base_user.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<div id="" class="">
	<p>hola {{ob_user.get_full_name}} Bienvenido al nuevo sistema de notificación del programa de Ingenieria de Sistema y Computacion.</p>
	<p>
	Recuerda ir a las <a><span>Configuraciones</span></a> para que recibas las notificaciones como mejor te parezca.
	</br><a href=""><span>Agrega un correo</span></a> y <a href=""><span>enlaza tus cuentas de Facebook y Twitter</span></a> para ser notificado alli también.
	</p>
</div>
<div id="contenedor-principal-mensajes" class=""></div>
{% endblock %}

{% block js %}{% endblock %}
