{% extends "base_user.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block bodyAttrs %}
	ng-app="user" ng-controller="mainController"
{% endblock %}

{% block body %}

<div cn-alert class="alert" ng-hide="hide">
	<p>
	Hola {{ob_user.get_full_name}} Bienvenido al nuevo sistema de notificación del programa de Ingenieria de Sistema y Computacion.
	</p>
	<p>
	Recuerda ir a las <a>Configuraciones</a> para que recibas las notificaciones como mejor te parezca. <a href="">Agrega un correo</a> y <a href="">enlaza tus cuentas de Facebook y Twitter</a> para ser notificado alli también.
	</p>
</div>

<section ng-controller="messages" class="full-container clearfix" id="messages">
	<aside class="third column messages">
		<section>
			<h2 class="list-header flat">Mensajes Privados</h2>
			<ul class="list message-list">
				<li ng-repeat="mensaje in list[0] | filter: buscar" ng-init="list=0" message-item></li>
			</ul>
		</section>
		<section>
			<h2 class="list-header flat">Otros Mensajes</h2>
			<ul class="list message-list" >
				<li ng-repeat="mensaje in list[1] | filter: buscar" ng-init="list=1" message-item></li>
			</ul>
		</section>
	</aside>
	<article class="two-thirds column message-content">
		<header class="message-header">
			<h2 class="message-title">{[{activeMessage.asunto}]}</h2>
			<p class="meta" ng-show="activeMessage">
				Publicado el {[{activeMessage.fecha}]}
			</p>
		</header>
		<div class="entry-content">
			{[{activeMessage.mensaje}]}
		</div>
	</article>
	
</section>
	

{% endblock %}

{% block js %}
<script type="text/javascript">
	var vector_messages = {{dic_messages|safe}}
</script>
{% endblock %}
