{% extends "base_user.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<div cn-alert class="alert" ng-hide="hide">
	<p>
	Hola {{ob_user.get_full_name}} Bienvenido al nuevo sistema de notificación del programa de Ingenieria de Sistema y Computacion.
	</p>
	<p>
	Recuerda ir a las <a>Configuraciones</a> para que recibas las notificaciones como mejor te parezca. <a href="">Agrega un correo</a> y <a href="">enlaza tus cuentas de Facebook y Twitter</a> para ser notificado alli también.
	</p>
</div>

<section ng-controller="messages" class="full-container clearfix" id="messages">
	<aside class="third column messages">
		<ul class="list message-list">
			<li ng-repeat="mensaje in list">
				<a href class="message" ng-class="{active : mensaje.isActive}" ng-click="show($index)">
					<h3 class="message-title">{[{mensaje.asunto}]}</h3>
					<div class="meta">
						<time datetime="date {[{mensaje.fecha | date}]}"><i class="icon-clock"></i> {[{mensaje.fecha | date}]}</time>
					</div>
				</a>
			</li>
		</ul>
	</aside>
	<article class="two-thirds column message-content">
		<header class="message-header">
			<h2 class="message-title">{[{activeMessage.asunto}]}</h2>
			<p class="meta">
				Publicado el {[{activeMessage.fecha}]}
			</p>
		</header>
		<div class="entry-content">
			{[{activeMessage.mensaje}]}
		</div>
	</article>
	
</section>
	

{% endblock %}

{% block js %}
<script type="text/javascript">
	var vector_messages = {{dic_messages|safe}}
</script>
{% endblock %}
