{% extends "base_admin.html" %}
{% load wysiwyg %}
{% block title %}
 
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}  

<section id="show-quick" > Crear Mensaje </section>

<section id="quick-message" class=" block-hide" >
	<h1 class="">Crear Mensaje</h1>
	<form method="POST" action="{%url 'message'%}" enctype="multipart/form-data" class="vform">
	{% csrf_token %}
		<div class="form-field fluid-grid static">
			<label for="message__subject">Asunto</label>
			<input id="message__subject" name="subject" type="text" autofocus/>
		</div>
		<div class="form-field fluid-grid static">
			<label for="message__to" >Para</label>
			<input id="message__to" type="text"/>
		</div>
		<div id="selected" name="selected">
			
		</div>
		<input >

		<input id="json_recipients" name="json_recipients" class="hide"
		 value='{"users":["1014440646","1018440645","100000000"]}' />
		
		 <div class="from-attachment">
			<div id="boton-attacgemet">
				{{ob_fromAttachment.data}}
			</div>		 	
		 </div>

		<div class="form-field">
		 	<p><label for="message">Mensaje</label></p>
			<textarea id="message" name="content_men" > </textarea>
	    	{% wysiwyg_editor "message" %}   
		</div>
		<div class="form-field">
			<p>
				<label for="message" >Privado</label>
				<input id="nature" name="private" type="checkbox"></input>
			</p>
		</div>
		<p class="center-text">
			<button type="submit" class="flat button green">Previsualizar y enviar...</button>
		</p>
	</form>
</section>


<section id="messages" class="msj_send">
<h2> Mensajes Enviados </h2>
<ul id="list-message-send" class="bar-list" >

{% for item_message in messages_send %}
	<li >
		<a class="bar-list__item"> 
			<h3 class="title ng-binding">{{ item_message.subject}}</h3>
			<div class="small">
				<time  class="ng-binding"><i class="icon-clock"></i>{{item_message.date_added}}</time>
			</div>
		</a>
	</li>
{% endfor %}


</ul>
</section>

{% endblock %}

{% block js %}

<script type="text/javascript">

$(document).ready(function(){
	$('#show-quick').on('click',function(){
	$('#quick-message').toggle();
	});
})

</script>
{% endblock %}