{% extends "base_admin.html" %}
{% load wysiwyg %}
{% block title %}

{% endblock %}

{% block style %}{% endblock %}

{% block bodyAttrs %}
	ng-app="createMessage" ng-controller="formController" ng-click="reset()"
{% endblock %}

{% block body %}

<section>
	<header>
		<h1 class="">Crear un nuevo mensaje</h1>
	</header>

	<form class="vform validate create-message" name="form" novalidate ng-submit="submit()">
		{% csrf_token %}
		<div class="form-field">
			<label for="message__subject">Asunto</label>
			<input id="message__subject" name="subject" ng-model="message.subject" type="text" required ng-minlength="5" autofocus/>
		</div>
		<div class="form-field to">
			<label for="message__to">Para</label>
			<input id="message__to" type="text" ng-model="message.to" ng-change="autocomplete()" ng-model-options="{ debounce: 500 }" />
			<div class="spinner" ng-hide="hideSpinner"><span></span></div>
			<ul class="form-field autocomplete list" ng-hide="hideList()">
				<li class="list-item fluid-grid static" ng-click="add(this.user, $event)" ng-repeat="user in ccList" ng-class="{selected: user.selected}" >
					<span>{[{user.firstName}]} {[{user.lastName}]}</span>
					<span>{[{user.username}]}</span>
					<span>{[{user.email}]}</span>
				</li>
			</ul>
		</div>
		<ul class="form-field list selected-users-list fluid-grid static" ng-hide="hideSelectedUsers()">
			<li class="selected-user" ng-repeat="user in selectedUsers">
				{[{user.username}]}
				<button class="flat icon-close" ng-click="remove(this.user, $event )"></button>
			</li>
		</ul>
		<div class="form-field">
		 	<p><label for="message">Mensaje</label></p>
			<textarea id="message" ng-model="message.text"></textarea>
	    	{% wysiwyg_editor "message" %}
		</div>
		<div class="form-field uploader fluid-grid static space-around">
			<div class="uploader-render" ng-show="showUploader">
				<div class="button ghost"><i class="icon-paperclip"> </i> Adjuntar archivo</div>
				{{ob_fromAttachment.data}}
			</div>
			<div class="selected-file" ng-hide="showUploader">
				<i class="icon-file"> </i>{[{message.data.name}]}
				<i class="icon-close remove" ng-click="showUploader=true"></i>
			</div>
			<div>
				<label for="private" >Privado</label>
				<input id="private" name="private" type="checkbox" ng-model="message.isPrivate" class="checkbox-render__fire" />
				<label for="private" id="checkbox-render" class="icon-checkmark"></label>
			</div>
		</div>
		<p class="center-text">
			<button type="submit" class="flat button green" ng-disabled="isInvalidForm()">Previsualizar y enviar...</button>
		</p>
	</form>
</section>


<section>
	<h2>Mensajes Enviados</h2>
	<ul class="list message-list bar-list">

		{% for item_message in messages_send %}
			<li>
				<a href="#" class="bar-list__item">
					<h3 class="title">{{ item_message.subject}}</h3>
					<div class="small">
						<time><i class="icon-clock"> </i>Enviado: {{item_message.date_added}}</time>
					</div>
				</a>
			</li>
		{% endfor %}

	</ul>
</section>

<div class="modal ng-hide" aria-hidden="true" ng-show="showMessagePreview">
	<div class="wrapper">
		<p class="opaque">Previsualización del mensaje.</p>
		<h1>{[{modal.title}]}</h1>
		<div class="modal__content" ng-bind-html="modal.content"></div>
		<footer class="center-text modal__footer">
			<button class="flat button green" ng-click="send()"><i class="icon-paperplane"> </i>Enviar</button>
			<button class="flat button ghost" ng-click="showMessagePreview=false">Cancelar</button>
		</footer>
	</div>
</div>

{% endblock %}

{% block js %}
	<script src="{{STATIC_URL}}js/lib/angular/angular.min.js"></script>
	<script src="{{STATIC_URL}}js/lib/angular-resource/angular-resource.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/angular-animate/angular-animate.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/lodash/lodash.min.js"></script>

    <script src="{{STATIC_URL}}js/app/api/api.services.js"></script>
    <script src="{{STATIC_URL}}js/app/admin/admin.createMessage.js"></script>
{% endblock %}
