 {% extends "base_user.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<div class="container medium" id="preferences">

	<section>
		<h1 class="title">Preferencias</h1>
		<figure class="user-img__options entry-content center-text">
			<div class="user-img-holder">
				<img src="{{ request.user.userext.profile_image_url }}">

				<form class="user-del-form" action="{%url 'eliminar_foto'%}" method="POST" >
					{% csrf_token %}
					<button class="flat remove button" type="submit">
						<i class="icon-remove"> Eliminar</i>
					</button>
				</form>
			</div>
			

			<form id="update-image" action="{%url 'change_foto'%} " enctype="multipart/form-data" method="POST" >
				{% csrf_token %}
				<button class="flat button blue">Cambiar foto...</button>
				<div class="visuallyhidden">
					{{fromfoto.foto}}
					<input type="submit" class="submit" value="Submit" />
				</div>
			</form>

			<figcaption>
				<p>
					<span class="text-big">{{ob_user.get_full_name}}</span>
					<br>
					<span class="gray-text">Cód.: {{ob_user.username}}</span>
				</p>
			</figcaption>
		</figure>
	</section>
	
	<section>
		<h2 class="title border-bottom">Notificaciones</h2>

		<h3>Email Principal</h3>
		<form action="{%url 'changeemail'%}" method="POST">
			{% csrf_token %}
			<input type='email' name="email" value="{{ob_user.userext.email_alt}}" placeholder="Correo alterno para recibir notificaciones">
			<p>
				<button class="flat button gray" type="submit">Cambiar correo</button>
			</p>
		</form>

		<h3>Redes Sociales</h3>
		<p>Ingresa con tu red social para recibir las <span>notificaciones importantes</span> al instante.</p>
		<div> 
			{% if estado_twitter %}
				Twitter conectado 
			{% else %}
				<a href= '{%url 'autentificar_twitter'%}' class="button twitter block center-text" ><i class="icon-twitter"> </i>Conectar con Twitter</a>
			{% endif%}
		</div>
	</section>
	
</div>



{% endblock %}

{% block js %}

	<script src="{{STATIC_URL}}/js/multipart-render.js"></script>

{% endblock %}
