{% extends "base_admin.html" %}
{% block title %}

{% endblock %}

{% block style %}{% endblock %}

{% block bodyAttrs %}
  ng-app="adminFBLogin" ng-controller="FBController"
{% endblock %}

{% block body %}

<h3>Redes Sociales</h3>

<p class="center-text">
  {% if estado_twitter %}
    <span class="button twitter block"><i class="icon-twitter"> </i>Su cuenta de Twitter está conectada</span>
  {% else %}
    <a href= '{%url 'autentificar_twitter'%}' class="button twitter block" ><i class="icon-twitter"> </i>Conectar con Twitter</a>
  {% endif %}
</p>
<p class="facebook center-text">
  {% if estado_facebook %}
    <span class="button facebook block center-text"><i class="icon-facebook"> </i>Su cuenta de Facebook está conectada</span>
  {% else %}
    <button class="flat button facebook block center-text" ng-click="login()"><i class="icon-facebook"> </i>Conectar una página de Facebook</button>
  {% endif %}
</p>

{% endblock %}

{% block js %}

  <script>

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/es_ES/sdk/debug.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  </script>
  <script src="{{STATIC_URL}}js/lib/angular/angular.min.js"></script>
  <script src="{{STATIC_URL}}js/lib/angular-resource/angular-resource.min.js"></script>
  <script src="{{STATIC_URL}}js/lib/angular-cookies/angular-cookies.min.js"></script>
  <script src="{{STATIC_URL}}js/lib/jquery/dist/jquery.min.js"></script>

  <script src="{{STATIC_URL}}js/app/api/api.services.js"></script>
  <script src="{{STATIC_URL}}js/app/share/share.fbFactory.js"></script>
  <script src="{{STATIC_URL}}js/app/admin/admin.fbLogin.js"></script>

{% endblock %}

