{% extends "base_admin.html" %}

{% block title %} Editar usuario - CNISC{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<section>
	{% if mensaje %}
		<div class="alert success">{{mensaje}}</div>
	{% endif %}

	<figure class="user-img__options entry-content center-text">
		<div class="user-img-holder">
			<img src="{{ usuario.userext.profile_image_url }}">

			<form class="user-del-form" action="{%url 'eliminar_foto' %}" method="POST" >
				{% csrf_token %}
				<button class="flat remove button" type="submit">
					<i class="icon-remove"> Eliminar</i>
				</button>
			</form>
		</div>

		<form id="update-image" action="{%url 'change_foto'%} " enctype="multipart/form-data" method="POST" >
			{% csrf_token %}
			<button class="flat button blue">Cambiar foto...</button>
			<div class="visuallyhidden">
				{{fromfoto.foto}}
				<input type="submit" class="submit" value="Submit" />
			</div>
		</form>

		<figcaption>
			<p>
				<span class="text-big">{{usuario.get_full_name}}</span>
				<br>
				<span class="gray-text">Cód.: {{usuario.username}}, {{profile}}</span>
				<p>
					<a href="" class="button primary ghost">Enviar Mensaje</a>
				</p>
			</p>
		</figcaption>
	</figure>

	<form class="vform" action="{%url 'usereditaradmin' usuario.pk %}" method="POST">
		{% csrf_token %}
		<div class="form-field fluid-grid static">
			<label for="activo">Activo</label>
			<div class="push-right">
				<input name="is_active" id="activo" {% if usuario.is_active %} checked {% endif %}  type="checkbox"  class="checkbox-render__fire">
				<label for="activo" id="checkbox-render" class="icon-checkmark"></label>
			</div>
		</div>
		<div class="form-field fluid-grid static">
			<label for="email">Email</label>
			<input id="email" class="push-right" name="email" {% if email_actual != None  %} value="{{email_actual}}" {% endif %}  type="text">
		</div>
		<div class="form-field fluid-grid static">
			<label for="mobile">Móvil</label>
			<input id="mobile" class="push-right" name="mobile" {% if usuario.userext.mobile != None  %}value="{{usuario.userext.mobile}}"{% endif %}   type="text">
		</div>
		<div class="form-field fluid-grid static">
			<label for="address">Dirección</label>
			<input id="address" class="push-right" name="address" {% if usuario.userext.address != None  %}value="{{usuario.userext.address}}"{% endif %}  type="text">
		</div>
	
		{% for data in profile_info %}
			<div class="form-field fluid-grid static">
				<label for="{{data.key}}">{{data.key}}</label>
				<input id="{{data.key}}" class="push-right" name="{{data.key}}" value="{{data.value}}"  type="text">
			</div>
		{% endfor %}

		<div class="form-field fluid-grid static">
			<label for="city">Ciudad</label>
			<input id="city" class="push-right" name="city" {% if usuario.userext.city != None  %}value="{{usuario.userext.city}}"{% endif %}  type="text">
		</div>
		<div class="form-field fluid-grid static">
			<label for="province">Departamento</label>
			<input id="province" class="push-right" name="province" {% if usuario.userext.province != None  %}value="{{usuario.userext.province}}"{% endif %}  type="text">
		</div>
		<div class="form-field fluid-grid static">
			<label for="country">Pais</label>
			<input id="country" class="push-right" name="country" {% if usuario.userext.country != None  %}value="{{usuario.userext.country}}"{% endif %}  type="text">
		</div>
		<div class="form-field fluid-grid static password" >
			<label for="pass">Contraseña</label>
			<input id="pass" class="push-right" name="pass"  type="password">
		</div>
		<div class="form-field fluid-grid static expand">
			<p><button type="submit" class="flat button blue">Guardar Cambios</button></p>
			<p><button type="button" id="changePassword" class="flat button primay ghost">Cambiar Contraseña</button></p>
		</div>
	</form>

</section>

{% endblock %}


{% block js %}

	<script src="{{STATIC_URL}}/js/multipart-render.js"></script>
	<script>
	(function(){

		// Función para mostrar el input de cambio de contraseña
		'use strict';

		var passButton = document.querySelector('#changePassword'),
			passContent = document.querySelector('.form-field.password');

		passButton.addEventListener('click', function(e){
			e.preventDefault();
			e.stopPropagation();


			passContent.classList.remove('password');
			this.parentNode.remove( this );
		});
	})();
	</script>

{% endblock %}
 