 {% extends "base_user.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<div><a href="">Volver a usuarios </a></div>


<ul>
<form id="for" action="{%url 'usereditaradmin' usuario.pk %}" method="POST">
	{% csrf_token %}
	<li><label >Activo </label><input name="is_active"  {% if usuario.is_active %} checked {% endif %}  type="checkbox"></li>
	<li><label>Email  </label><input name="email" value="{{usuario.email}}"  type="text"></li>
	<li><label>Móvil  </label><input name="mobile" value="{{usuario.userext.mobile}}"  type="text"></li>
	<li><label>Dirrecion </label><input name="address" value="{{usuario.userext.address}}"  type="text"></li>
	<li><label>Ciudad </label><input name="city" value="{{usuario.userext.city}}"  type="text"></li>
	<li><label>Estado </label><input name="province" value="{{usuario.userext.province}}"  type="text"></li>
	<li><label>Pais </label><input name="country" value="{{usuario.userext.country}}"  type="text"></li>
	<li> Enviar Mensaje </li>
	<li><button type="submit">Guardar Cambios</button></li>
</form>
</ul>	
	
	
	
	





{% endblock %}

{% block js %}
<script type="text/javascript">

	$('#eliminar_imagen_user').on("click",
	function(x){ 
		$('.sumit-eliminar-foto').click()
	}
);


</script>
{% endblock %}
 