{% extends "base_admin.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<section>
	<header class="fluid-grid static inline-header">
		<h1 class="">Usuarios</h1>
		<a href="{% url 'panelCrearUsuarios' %}" class="button ghost">
			<i class="icon-plus"> </i>Crear o cargar usuarios
		</a>
	</header>
	<div class="input-inline-icon">
		<input type="text" name="search" placeholder="Buscar un usuario...">
		<button class="flat icon-search right" type="submit"></button>		
	</div>
	<ul class="user-list bar-list list fluid-grid">
		{% for user in list_usuarios%}
			<li class="">
				<a href="{%url 'usereditaradmin' user.pk %}" class="bar-list__item">
					<div class="wrapper fluid-grid static valigned">
						<div class="user-list__thumb">
							<img src="{{user.userext.profile_image_url}}">
						</div>
						<div class="user-list__desc">
							<h2 class="title">{{user.get_full_name}}</h2>
							<p class="small">
								Cód: {{user.username}}<br>
								Email: {{user.email}}
							</p>
						</div>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</section>
{% endblock %}

{% block js %}{% endblock %}
 