{% extends "base_admin.html" %}
{% block title %}Crear nuevo usuario - CNISC{% endblock %}

{% block style %}{% endblock %}

{% block bodyAttrs %}
	ng-app="createUser"
{% endblock %}

{% block body %}

<section ng-controller="CreateUserController">
	<header class="fluid-grid static inline-header">
		<h1 class="">Crear un nuevo usuario</h1>
		<a href="{% url 'panelCargaMasiva' %}" class="button ghost">
			<i class="icon-plus"> </i>Cargar varios usuarios
		</a>
	</header>

	<div cn-alert class="alert" ng-class="alert.type" ng-hide="isHidden" on-close="hide()">
		{[{ alert.message }]}
	</div>
	
	<form class="vform validate" name="form" novalidate ng-submit="submit()">
		<div class="form-field fluid-grid static">
			<label for="codigo">Código <span class="red">*</span></label>
			<input class="push-right" name="codigo" id="codigo" type="text" ng-model="user.codigo" required ng-minlength="3">
		</div>
		<div class="form-field fluid-grid static">
			<label for="email">Email <span class="red">*</span></label>
			<input class="push-right" name="email" id="email" type="email" ng-model="user.email" required>
		</div>
		<div class="form-field fluid-grid static">
			<label for="nombre" for="nombre">Nombre(s) <span class="red">*</span></label>
			<input class="push-right" name="nombre" id="nombre" type="text" ng-model="user.nombre" required ng-minlength="3">
		</div>
		<div class="form-field fluid-grid static">
			<label for="apellidos">Apellidos <span class="red">*</span></label>
			<input class="push-right" name="apellidos" id="apellidos" type="text" ng-model="user.apellidos" required ng-minlength="3">
		</div>
		<div class="form-field fluid-grid static">
			<label>Tipo <span class="red">*</span></label>
			<div class="push-right select-render">
				<select autofocus name="perfil" ng-model="user.perfil" required>
					<option value="estudiante">Estudiante </option>
					<option value="egresado">Egresado</option>
					<option value="otro">Otro</option>
				</select>
			</div>
		</div>
		<div class="form-field fluid-grid static" ng-hide="user.perfil != 'estudiante'">
			<label for="semestre" for="semestre">Semestre</label>
			<input class="push-right" name="semestre" id="semestre" type="number" ng-model="user.semestre">
		</div>
		<div class="form-field fluid-grid static" ng-hide="user.perfil != 'estudiante'">
			<label for="estado" for="estado">Estado</label>
			<input class="push-right" name="estado" id="estado" type="text" ng-model="user.estado" placeholder="Estado académico: Normal, transición, suspendido">
		</div>
		<div class="form-field fluid-grid static" ng-hide="user.perfil != 'egresado'">
			<label for="cargo" for="cargo">Cargo Laboral</label>
			<input class="push-right" name="cargo" id="cargo" type="text" ng-model="user.cargo" >
		</div>
		<div class="form-field fluid-grid static" ng-hide="user.perfil != 'egresado'">
			<label for="empresa" for="empresa">Empresa</label>
			<input class="push-right" name="empresa" id="empresa" type="text" ng-model="user.empresa" placeholder="Empresa en la que labora">
		</div>
		<div class="form-field fluid-grid static">
			<label for="mobile">Móvil</label>
			<input class="push-right" name="mobile" id="mobile" type="number" ng-model="user.mobile">
		</div>
		<div class="form-field fluid-grid static">
			<label for="address">Dirección</label>
			<input class="push-right" name="address" id="address" type="text" ng-model="user.address">
		</div>
		<div class="form-field fluid-grid static">
			<label for="city">Ciudad</label>
			<input class="push-right" name="city" id="city" type="text" ng-model="user.city">
		</div>
		<div class="form-field fluid-grid static">
			<label for="province">Departamento</label>
			<input class="push-right" name="province" id="province" type="text" ng-model="user.province">
		</div>
		<div class="form-field fluid-grid static">
			<label for="country">País</label>
			<input class="push-right" name="country" id="country" type="text" ng-model="user.country">
		</div>
		<p class="center-text">
			<button type="submit" class="button flat gray" ng-disabled="form.$invalid">Guardar Cambios</button>
		</p>
	</form>
</section>

{% endblock %}

{% block js %}

	<script src="{{STATIC_URL}}js/lib/angular/angular.min.js"></script>
	<script src="{{STATIC_URL}}js/lib/angular-resource/angular-resource.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/angular-animate/angular-animate.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/jquery/dist/jquery.min.js"></script>

    <script src="{{STATIC_URL}}js/app/api/api.services.js"></script>
    <script src="{{STATIC_URL}}js/app/share/share.directives.js"></script>
    <script src="{{STATIC_URL}}js/app/admin/admin.createUser.js"></script>

{% endblock %}
 