 {% extends "base_user.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<div><a href="">Volver a usuarios </a></div>
	<div class="panel-imagen">
		<div class="marco_imagen">
		<form id="eliminar_foto" action="{%url 'eliminar_foto'%} " method="POST" >
			{% csrf_token %}
			<input class="sumit-eliminar-foto hidden"  type="submit" />	
			<div id="eliminar_imagen_user"></div>
		</form>	
		<img src="{{ request.user.userext.profile_image_url }}">
		</div>
		<form id="from_cambiar_imagen" action="{%url 'change_foto'%} " enctype="multipart/form-data" method="POST" >
			{% csrf_token %}
		<div class="marco-cambair-foto">

			<input class="sumit-cambiar-foto"  class=" hidden" type="submit" />	
		</div>	 
		</form>
		<h1></h1>
	 	<p>cod.: </p>
	 	<p>Semestre :  </p>
	</div>
<ul>
<form>
	<li><label>Activo </label><input></li>
	<li><label>Email  </label><input></li>
	<li><label>Móvil  </label><input></li>
	<li><label>Dirrecion </label><input></li>
	<li><input></li>
	<li> Enviar Mensaje </li>
	<li><button>Guardar Cambios</button>  </li>
</form>
</ul>	
	
	
	
	





{% endblock %}

{% block js %}
<script type="text/javascript">

	$('#eliminar_imagen_user').on("click",
	function(x){ 
		$('.sumit-eliminar-foto').click()
	}
);


</script>
{% endblock %}
 