{% extends "base_admin.html" %}
{% block title %}

{% endblock %}

{% block style %}{% endblock %}

{% block bodyAttrs %}
	ng-app="admin"
{% endblock %}

{% block body %}
<section ng-controller="searchController">
	<header class="fluid-grid static inline-header">
		<h1 class="">Usuarios</h1>
		<a href="{% url 'panelCrearUsuarios' %}" class="button ghost">
			<i class="icon-plus"> </i>Crear o cargar usuarios
		</a>
	</header>
	<div class="input-inline-icon">
		<input type="text" ng-model="search" placeholder="Buscar un usuario...">
		<button class="flat icon-search right" type="submit"></button>		
	</div>
	<ul class="user-list bar-list list fluid-grid">
		<li class="" ng-repeat="user in users">
			<a href="{[{ user.id }]}" class="bar-list__item">
				<div class="wrapper fluid-grid static valigned">
					<div class="user-list__thumb">
						<img ng-src="{[{user.imgUrl}]}">
					</div>
					<div class="user-list__desc">
						<h2 class="title">{[{user.name}]}</h2>
						<p class="small">
							Cód: {[{user.cod}]}<br>
							Email: {[{user.email}]}
						</p>
					</div>
				</div>
			</a>
		</li>
	</ul>
</section>
{% endblock %}

{% block js %}

	<script>
		var sresu = {{ dic_list_users | safe }}
	</script>
	<script src="{{STATIC_URL}}js/lib/angular/angular.min.js"></script>
	<script src="{{STATIC_URL}}js/lib/angular-resource/angular-resource.min.js"></script>
    <script src="{{STATIC_URL}}js/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="{{STATIC_URL}}js/app/api/api.services.js"></script>
    <script src="{{STATIC_URL}}js/app/admin/admin.main.js"></script>

{% endblock %}
 