{% extends "base_admin.html" %}
{% block title %}

{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<section>
	<h1 class="">Todos los usuarios</h1>
	<ul class="user-list bar-list list fluid-grid">
		{% for user in list_usuarios%}
			<li class="">
				<a href="{%url 'usereditaradmin' user.pk %}" class="bar-list__item">
					<div class="wrapper fluid-grid static valigned">
						<div class="user-list__thumb">
							<img src="{{user.userext.profile_image_url}}">
						</div>
						<div class="user-list__desc">
							<h2 class="title">{{user.get_full_name}}</h2>
							<p class="small">
								Cód: {{user.username}}<br>
								Email: {{user.email}}
							</p>
						</div>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</section>
{% endblock %}

{% block js %}{% endblock %}
 